.container-nav {
  background: linear-gradient(120deg, #caa6f2, #f3a0d7);


  margin: 0;
  padding: 0;
  width: 100%;
}

.pill {
  border-radius: 8px;
  color: #333;
}

.pill:hover {
  background-color: #d6c2f0;
  color: #000;
}

.pill:focus {
  background-color: #dfb9e9;
  color: #fff;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 75vh;
}

.about-img {
  width: 100%;
  height: 250px;
}

.about-img:hover {
  transform: scale(1.02);
  transition: 0.3s ease;
}

.card-img-top {
  height: 180px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

@media (max-width: 768px) {
  body {
    padding-top: 70px;
  }

  .carousel-caption {
    font-size: 0.85rem;
    bottom: 10%;
    padding: 0.5rem;
  }

  .carousel-item img {
    max-height: 50vh;
  }

  .about-img {
    height: 180px;
  }

  .card-img-top {
    height: 150px;
  }

  .navbar-brand {
    font-size: 1.2rem;
  }

  .container-nav {
    text-align: center;
  }
}